aside {
  height: calc(100vh - var(--topbar-height));
  border-right: 1px solid var(--border-color);
  background:
    linear-gradient(rgb(18 19 19 / 0.9), rgb(18 19 19 / 0.9)),
    url("/dark-stone-tile.png") repeat;
  background-size: auto, 420px 420px;
  box-shadow: 0 0 10px 8px rgb(12 12 12 / 90%)
}

.contents {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;

  & > section:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  color: var(--white);
  h3 {
    color: var(--gold);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
  }
}