<header class="topbar">
  <section class="logo">
    <img
      src="/openmw-lua-docs-mark.svg"
      alt="OpenMW Lua Docs"
      width="52"
      height="52"
    />
    <div class="text">
      <h3>OpenMW Dev</h3>
      <h4>Unofficial Lua Docs</h4>
    </div>
  </section>
  <section class="links">
    <a>
      Guides
    </a>
    <a>
      API Reference
    </a>
    <a>
      FAQs
    </a>
  </section>
  <section class="search">
    <app-search-bar></app-search-bar>
  </section>
  <section class="version">
    0.51
  </section>
</header>